<!DOCTYPE html>
<html>
  <head>
    <meta charset="pt-br">

    {% block head %}      
      <title>Sobre - Carlos J S Bezerra</title>    
    {% endblock %}

    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <div class="links">
        <a href="/">Sobre</a>
        <a href="/portfolio">Aulas</a>
      </div>
    </header>

    {% block content %}      
    {% endblock %}
  </body>
  
</html>
